<div class="row">
    
    <div class="col-lg-6">
      <div class="custom-media d-flex">
        <div class="img mr-4">
          <img src={{playerInput.image}} alt="Image" class="img-fluid">
           <!--player input inti wach samot ha fel player ts-->
        </div>
        <div class="text">
          <span class="meta">{{playerInput.date}}</span>
          <h3 class="mb-4"><a href="#">{{playerInput.name}}</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus deserunt saepe tempora dolorem.</p>
          <p><a href="#">{{playerInput.position}}</a></p>
        </div>
      </div>
    </div>
  </div>